body{
    background-image: url(images/fall.jpg);
    background-size: 2200px;
    background-repeat: no-repeat;
}

person:nth-child(odd) {
    background-color: lightyellow;
}

person:nth-child(even) {
    background-color: lightblue;
}

.selected {
    border: 2px dotted black;
}